body {
    font-family: Arial;
    color: var(--text);
}

.correct {
    color: var(--primary);
    font-weight: bold;
}

.wrong {
    color: var(--danger);
    font-weight: bold;
}

.question {
    margin-top: 20px;
    text-align: left;
}

.review-section {
    display: none;
    margin-top: 30px;
}

button {
    padding: 12px 16px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background: var(--primary-dark);
}
