<!DOCTYPE html>
<html>
<head>
<title>Exam</title>

<style>

body{
font-family: Arial;
}

#question-box{
margin-bottom:20px;
}

.palette{
margin-top:20px;
}

.palette button{
width:40px;
height:40px;
margin:3px;
}

#palette{
margin-top:20px;
font-size:18px;
}

#palette span:hover{
color:blue;
}

</style>

</head>

<body>

<h2>Online Exam</h2>

<h3>Time Remaining: <span id="timer"></span></h3>

<div id="question-box"></div>

<button onclick="prevQuestion()">Previous</button>
<button onclick="nextQuestion()">Next</button>

<div class="palette" id="palette"></div>

<form id="examForm" action="/submit-exam" method="POST"></form>

<script>

let questions = {{ questions | tojson }};
let currentQuestion = 0;
let answers = {};

function loadQuestion(){

let q = questions[currentQuestion];

let html = "<h3>Question " + (currentQuestion+1) + " / " + questions.length + "</h3>";

html += "<p>"+q[2]+"</p>";

html += `<input type="radio" name="option" value="A" onclick="saveAnswer('A')"> ${q[3]} <br>`;
html += `<input type="radio" name="option" value="B" onclick="saveAnswer('B')"> ${q[4]} <br>`;
html += `<input type="radio" name="option" value="C" onclick="saveAnswer('C')"> ${q[5]} <br>`;
html += `<input type="radio" name="option" value="D" onclick="saveAnswer('D')"> ${q[6]} <br>`;

document.getElementById("question-box").innerHTML = html;
let qid = questions[currentQuestion][0];

if(answers[qid]){

let radios = document.getElementsByName("option");

for(let r of radios){

if(r.value == answers[qid]){

r.checked = true;

}

}

}
}

function nextQuestion(){
if(currentQuestion < questions.length-1){
currentQuestion++;
loadQuestion();
}
}

function prevQuestion(){
if(currentQuestion > 0){
currentQuestion--;
loadQuestion();
}
}

function saveAnswer(option){

let qid = questions[currentQuestion][0];

answers[qid] = option;

updatePalette();

}

function buildPalette(){

let paletteHTML = `<span style="cursor:pointer;margin-right:10px;" onclick="prevQuestion()">&#60;</span>`;

for(let i=0;i<questions.length;i++){

paletteHTML += `<span 
style="margin:5px;cursor:pointer;font-weight:bold;"
onclick="jumpQuestion(${i})">${i+1}</span>`;

}

function updatePalette(){

let spans = document.querySelectorAll("#palette span");

for(let i=0;i<questions.length;i++){

let qid = questions[i][0];

if(answers[qid]){

spans[i+1].style.color = "green";

}

}

}

paletteHTML += `<span style="cursor:pointer;margin-left:10px;" onclick="nextQuestion()">&#62;</span>`;

document.getElementById("palette").innerHTML = paletteHTML;

}

function jumpQuestion(index){

currentQuestion = index;

loadQuestion();

}

loadQuestion();
buildPalette();

</script>

<script>

let time = 60*30;

let timer = setInterval(function(){

let minutes = Math.floor(time/60);
let seconds = time%60;

document.getElementById("timer").innerHTML =
minutes + ":" + (seconds<10?"0":"") + seconds;

time--;

if(time<0){

clearInterval(timer);

alert("Time is up!");

document.getElementById("examForm").submit();

}

},1000);

</script>

</body>
</html>