<!DOCTYPE html>
<html>

<head>

<title>Performance Chart</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
margin-top:50px;
}

.box{
background:white;
width:700px;
margin:auto;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

</style>

</head>

<body>

<div class="box">

<h2>Student Performance Chart</h2>

<canvas id="myChart"></canvas>

<br>

<a href="/admin-dashboard">Back</a>

</div>

<script>

let names = {{ names|tojson }};
let scores = {{ scores|tojson }};

new Chart(document.getElementById("myChart"), {
    type: 'bar',
    data: {
        labels: names,
        datasets: [{
            label: 'Average Percentage',
            data: scores
        }]
    }
});

</script>

</body>
</html>