<!DOCTYPE html>
<html>

<head>

<title>Student Performance</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/student_performance.css') }}">

</head>

<body>

<h1>Student Performance Analytics</h1>

<table>

<tr>
<th>Student</th>
<th>Exam</th>
<th>Score</th>
<th>Percentage</th>
</tr>

{% for row in performance %}

<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }} / {{ row[3] }}</td>
<td>{{ ((row[2]/row[3])*100)|round(2) }}%</td>
</tr>

{% endfor %}

</table>

<br>

<a href="/admin-dashboard">Back to Admin Panel</a>

</body>

</html>
